@media (max-width: 1600px) {
    .search-form form {
        width: 45vw;
    }

    .profile-det-area {
        gap: 12px;
    }

    .property-name h3 {
        font-size: 17px;
    }

    th {
        padding: 40px 30px 24px 50px
    }

    td {
        padding: 26px 40px 24px 50px;
    }

    .co-op-wrapper .blog-card {
        width: calc(100% / 3 - 10px) !important;
        height: 420px;
    }

    .blog-content-area h4 {
        font-size: 23px;
    }

    .blog-content-area p {
        font-size: 14px;
    }
}

@media (max-width: 1440px) {
    .search-form form {
        width: 39vw;
    }

    .profile-det-area {
        gap: 10px;
    }

    .search-area {
        gap: 25px;
    }

    .profile-det-area .dropdown .profile-btn h5 {
        font-size: 18px;
    }

    .dashboard-hd {
        font-size: 28px !important;
    }

    .form-group label {
        width: 95px;
    }

    .form-group label {
        font-size: 13.5px !important;
    }

    .form-textarea-group textarea {
        width: 75%;
    }

    .form-group input {
        width: 75%;
    }

    .password-input {
        padding: 12px 12px;
        width: 200px;
        margin-bottom: 15px !important;
    }

    .profile-card {
        padding: 14px 12px;
    }

    .profile-card .btn-sm {
        margin-bottom: 10px !important;
        width: 103px !important;
    }

    .profile-card .change-pro-hd {
        font-size: 15px !important;
    }

    .profile-card .password-hd {
        font-size: 16px !important;
        margin: 14px 0 17px 0;
    }

    .profile-card {
        height: 620px !important;
    }

    .form-group input {
        padding: 13px 20px !important;
    }

    .form-textarea-group textarea {
        height: 45px !important;
        padding: 10px !important;
    }

    .btn-dark2 {
        margin-top: 4px !important;
        padding: 10px 35px !important;
        font-size: 16px !important;
    }

    .profile-card .change-pro-hd {
        margin-bottom: 15px !important;
    }

    #profileImage {
        margin-bottom: 20px !important;
    }

    .btn-dark {
        padding: 11px 45px !important;
    }

    .property-card {
        width: calc(100% / 3 - 20px) !important;
        margin-bottom: 30px;
    }

    .listing-card-wrapper2 .property-card2 {
        margin-bottom: 30px !important;
    }

    th {
        font-size: 16px;
    }

    th {
        padding: 41px 20px 24px 20px;
    }

    td {
        padding: 26px 48px 24px 20px;
        font-size: 14px;
    }

    .pagination-wrapper-apo {
        padding: 0 46px 0 16px;
    }

    .co-op-wrapper .blog-card {
        width: calc(100% / 2 - 10px) !important;
        /* height: 420px; */
    }

    .listing-box {
        padding: 35px 15px;
    }

    canvas {
        max-width: 90px;
        max-height: 90px;
    }

    .listing-box h4 {
        font-size: 33px !important;
    }

    #map2 {
        height: 335px;
    }

    .listing-card-wrapper {
        flex-wrap: wrap;
    }

}

@media (max-width: 1400px) {}

@media (max-width: 1366px) {
    .form-group {
        display: flex !important;
        flex-direction: column !important;
    }

    .form-group input {
        width: 100%;
        font-size: 12px;
        padding: 10px 20px !important;
    }

    .form-group textarea {
        width: 100%;
    }

    .form-group label {
        margin-bottom: 10px;
    }

    .form-group {
        flex-direction: column !important;
        align-items: unset !important;
    }

    .form-group div {
        display: none;
    }

    .form-textarea-group textarea {
        height: 38px !important;
        font-size: 12px;
    }

    #profileImage {
        margin-bottom: 30px !important;
    }

    .profile-card .password-hd {
        margin: 38px 0 34px 0 !important;
    }

    .profile-card .change-pro-hd {
        margin-bottom: 30px !important;
    }

    .password-input {
        margin-bottom: 30px !important;
    }

    .btn-dark2 {
        margin-top: 22px !important;
    }

    #profileImage {
        width: 255px !important;
    }

    .profile-card {
        height: 715px !important;
    }

    .Pro-info-hd {
        font-size: 20px !important;
    }

    .search-form form {
        width: 38vw;
    }

    .dashboard-hd {
        font-size: 25px !important;
    }

    .profile-card .btn-sm {
        font-size: 10px !important;
    }

    .btn-dark {
        padding: 10px 42px !important;
        font-size: 17px !important;
    }

    .pagination-btns button {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }

    .pagination-wrapper .pag-para {
        font-size: 14px;
    }

    .location-map-div .location-hd {
        font-size: 17px;
    }

    .progress-wrapper .progress-para {
        font-size: 16px;
    }

    .map-wrapper2 {
        gap: 60px !important;
    }

    .progress-wrapper {
        margin-bottom: 32px;
    }

    .blog-content-area h4 {
        font-size: 20px;
    }

    .co-op-wrapper .blog-card {
        height: 400px !important;
    }

    .listing-box {
        padding: 35px 45px;
    }

    #map2 {
        height: 340px;
    }
}

@media (max-width: 1280px) {
    .search-form form {
        width: 34vw;
    }

    td {
        padding: 26px 37px 24px 21px;
        font-size: 13px;
    }

    th {
        font-size: 14px;
    }

    .map-wrapper2 {
        gap: 50px !important;
    }

    .co-op-wrapper .blog-card {
        height: 380px !important;
    }

    .listing-box {
        padding: 35px 30px;
    }

}

@media (max-width: 1200px) {
    .search-form form {
        width: 30vw;
    }

    .property-name h3 {
        font-size: 15px;
    }

    .property-name h3 {
        font-size: 12px;
    }

    .property-name p {
        font-size: 10px;
    }

    .other-desc p {
        font-size: 9px !important;
    }

    .property-name a {
        font-size: 11px;
        padding: 8px 20px;
    }

    .pagination-wrapper .pag-para {
        font-size: 12px;
    }

    .pagination-btns button {
        width: 27px;
        height: 27px;
        font-size: 13px;
    }

    td {
        font-size: 12px;
    }

    th {
        font-size: 13px;
    }

    .blog-content-area h4 {
        font-size: 19px;
    }

    .blog-content-area p {
        font-size: 12px;
    }

    .co-op-wrapper .blog-card {
        height: 350px !important;
    }

    .blog-content-area h4 {
        font-size: 16px;
    }

    .blog-content-area a {
        font-size: 14.5px;
    }

    .listing-box h4 {
        font-size: 30px !important;
    }

    .listing-box {
        padding: 35px 15px;
    }

    .listing-box h5 {
        font-size: 20px;
    }
    .profile-btn > img {
        width: 55px;
        height: 55px;
    }
}

@media (max-width: 1199px) {
    .profile-card {
        margin-top: 20px !important;
    }

    .search-form form input {
        padding: 12px 0 !important;
    }

    .search-form form {
        width: 28vw;
    }

    #profileImage {
        width: 350px !important;
        max-height: 280px !important;
    }

    .password-input {
        width: 350px !important;
    }

    .btn-dark2 {
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .profile-card .btn-sm {
        width: 120px !important;
        font-size: 12px !important;
    }

    td {
        padding: 26px 30px 24px 21px;
    }

    .location-map-div .location-hd {
        font-size: 16px;
    }

    .progress-wrapper .progress-para {
        font-size: 14px;
    }

    .map-wrapper2 {
        gap: 40px !important;
    }

    .co-op-wrapper .blog-card {
        height: 330px !important;
    }
    
}

@media (max-width: 1024px) {
    .search-form {
        display: none;
    }

    .side-bar {
        width: 270px;
    }

    .side-bar ul li a {
        padding: 18px 55px;
        font-size: 16px;
    }

    .profile-det-area .dropdown .profile-btn h5 {
        font-size: 15px;
    }

    .profile-det-area .dropdown .profile-btn h6 {
        font-size: 13px;
    }

    .btn.dropdown-toggle.position-relative.profile-btn img {
        width: 45px;
    }

    .profile-det-area .dropdown button,
    .profile-det-area .dropdown .cart-view {
        font-size: 24px;
    }

    .profile-det-area .dropdown button .badge,
    .profile-det-area .dropdown .cart-view .badge {
        height: 23px;
        width: 23px;
        font-size: 10px;
    }

    .header .hamburger i {
        font-size: 25px;
    }

    .header {
        padding: 23px 32px;
    }

    .profile-info-wrapper {
        padding: 40px 25px 61px 25px;
    }

    .password-input {
        width: 350px !important;
    }

    .btn-dark {
        width: 120px;
        font-size: 12px !important;
        padding: 10px 13px;
    }

    .property-card {
        width: calc(100% / 2 - 20px) !important;
        margin-bottom: 30px;
    }

    td {
        padding: 26px 13px 24px 7px;
        font-size: 12px;
    }

    th {
        padding: 41px 16px 24px 7px;
        font-size: 12px;
    }

    .location-map-div .location-hd {
        font-size: 14px;
    }

    .map-wrapper2 {
        gap: 30px !important;
    }

    .progress-wrapper .progress-para {
        font-size: 12px;
    }

    .progress-wrapper .progress-126 {
        width: 110px;
    }

    .progress-wrapper .progress-178 {
        width: 150px;
    }

    .progress-wrapper .progress-62 {
        width: 50px;
    }

    .progress-wrapper .progress-110 {
        width: 100px;
    }

    .co-op-wrapper .blog-card {
        height: 290px !important;
    }

    .blog-content-area h4 {
        font-size: 14px;
    }

    .blog-content-area h4 {
        margin-bottom: 20px !important;
    }

    .blog-content-area p {
        margin-bottom: 20px !important;
    }

    .listing-box h4 {
        font-size: 25px !important;
    }

    .listing-box {
        padding: 25px 10px !important;
    }

    canvas {
        max-width: 75px;
        max-height: 75px;
    }

    #map2 {
        height: 270px;
    }
    .profile-btn > img {
        width: 50px !important;
        height: 50px !important;
    }
}

@media (max-width: 992px) {
    .side-bar {
        background-color: #fff;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -500px;
        z-index: 999;
        transition: all 0.3s ease-in-out;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    }

}

@media (max-width: 991px) {
    .header {
        padding: 22px 52px;
    }
    .profile-btn > img {
        width: 40px !important;
        height: 40px !important;
    }

    .side-bar.active {
        left: 0;
    }

    .hamburger {
        display: block;
        top: 15px;
        left: 15px;
        z-index: 1;
        background-color: transparent !important;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
    }

    .close-sidebar {
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
        background: transparent;
        border: none;
        font-size: 30px;
        cursor: pointer;
        z-index: 1002;
    }

    .close-sidebar i {
        color: var(--blue);
    }

    th {
        padding: 41px 20px 24px 15px;
        font-size: 14px;
    }

    td {
        padding: 29px 35px 24px 15px;
        font-size: 13px;
    }

    .progress-wrapper .progress-110 {
        width: 110px;
    }

    .co-op-wrapper .blog-card {
        height: 350px !important;
    }

    .blog-content-area h4 {
        font-size: 18px;
    }

    .blog-content-area p {
        font-size: 14px;
    }

    .listing-box {
        padding: 25px 20px !important;
    }
    .side-bar ul li i {
    margin-right: 21px;
}


}

@media (max-width: 768px) {
    td {
        padding: 29px 23px 24px 15px;
        font-size: 11px;
    }

    th {
        padding: 41px 20px 24px 15px;
        font-size: 12px;
    }

    .map-wrapper2 {
        flex-wrap: wrap;
    }

    .progress-wrapper .progress-para {
        font-size: 13px;
    }

    .location-map-div .location-hd {
        font-size: 16px;
    }

    .co-op-wrapper .blog-card {
        width: calc(100% / 1 - 10px) !important;
        /* height: 420px; */
    }

    .co-op-wrapper .blog-card {
        height: 470px !important;
    }

    .blog-card2 {
        margin-bottom: 7.3rem !important;
    }

    .blog-card3 {
        margin-bottom: 0 !important;
    }

    canvas {
        max-width: 60px;
        max-height: 60px;
    }

    .listing-box h4 {
        font-size: 20px !important;
    }

    .listing-box {
        gap: 50px !important;
    }

    #map2 {
        height: 240px;
    }
}

@media (max-width: 767px) {
    .table-container {
        overflow: auto;
    }

    .map-div-wrapper {
        padding: 30px 15px;
    }

    .map-wrapper {
        margin-bottom: 0 !important;
    }

    #map2 {
        margin-bottom: 30px !important;
    }

    .map-wrapper {
        display: unset !important;
    }

    .listing-box {
        justify-content: space-between;
    }

    canvas {
        max-width: 100px;
        max-height: 100px;

    }

    .listing-box h4 {
        font-size: 25px !important;
    }

    .listing-box h5 {
        font-size: 22px;
    }


}

@media (max-width: 500px) {
    .profile-det-area .dropdown .profile-btn h6 {
        font-size: 11px;
    }

    .profile-det-area .dropdown .profile-btn h5 {
        font-size: 12px;
    }

    .btn.dropdown-toggle.position-relative.profile-btn img {
        width: 40px;
    }

    .profile-det-area .dropdown button,
    .profile-det-area .dropdown .cart-view {
        font-size: 20px;
    }

    .profile-det-area .dropdown button .badge,
    .profile-det-area .dropdown .cart-view .badge {
        height: 20px;
        width: 20px;
        font-size: 8px;
    }

    .header .hamburger i {
        font-size: 20px;
    }

    .dashboard-hd {
        font-size: 20px !important;
    }

    .Pro-info-hd {
        font-size: 17px !important;
    }

    .main-content-area {
        padding: 35px;
        background: #fcfcfc;
    }

    .header {
        padding: 21px 35px;
    }

    .form-group label {
        font-size: 11.5px !important;
    }

    .btn-dark {
        width: 100px;
        padding: 10px 20px !important;
    }

    .property-card {
        width: calc(100% / 1 - 20px) !important;
        margin-bottom: 30px;
    }

    table {
        min-width: 1000px;
    }

    .pagination-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .co-op-wrapper .blog-card {
        height: 340px !important;
    }

    canvas {
        max-width: 70px;
        max-height: 70px;

    }

    .listing-box h4 {
        font-size: 20px !important;
    }

    .listing-box h5 {
        font-size: 18px;

    }
        .listing-box {
        padding: 25px 30px !important;
    }
    .custom-dropdown-item {
        font-size: 10px;
    }
}

@media (max-width: 375px) {
    .password-input {
        width: 255px !important;
    }

    .header {
        padding: 21px 11px;
    }

    .main-content-area {
        padding: 20px;
        background: #fcfcfc;
    }

    .password-input {
        justify-content: unset;
        margin: unset;
    }

    .profile-info-wrapper {
        padding: 40px 25px 50px 25px;
    }

    .form-textarea-group textarea {
        margin-bottom: 0 !important;
    }

    .blog-content-area p {
        font-size: 11px;
    }

    .blog-content-area h4 {
        font-size: 15px;
    }

    .co-op-wrapper .blog-card {
        height: 280px !important;
    }
}